*box-sizing: border box;
.container {
  padding: 80px 100px;
}
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 70%;
  height: 60%;
  opacity: 0.7;
}
.person:hover {
  border-color: #f1f1f1;
}
.navbar-header {
  height: fit-content;
}
#myNavbar {
  margin-top: 0;
}
.header {
  margin: 0;
}
.text {
  float: center;
}
#bildet {
  width: 100%;
}
.partnerPicture {
  width: 100%;
}
#more {
  display: none;
}
